
<!-- Search bar and select drop down -->


<%= form_tag searches_path, :method => 'get' do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "search" %>
  <%= select_tag "gender", options_for_select(@gender), include_blank: true %>
<% end %>


<!-- Search bar and select drop down, just like video in the show of searches -->

<%= form_for @search, html: {class: "pure-form" } do |s| %>

  <div class="field">
    <%= s.text_field :users %>
  </div>

  <div class="field">
    <%= s.label :gender %>
    <%= s.select :gender, options_for_select(@gender), :include_blank => true %>
  </div>

  <div class="actions">
    <%= s.submit "search",  searches_path, class: "pure-button pure-button-primary"%>
  </div>

<% end %>

<!-- Controller of CodePlace Video -->


def new
    @search = Search.new
    @gender = User.uniq.pluck(:gender)
end

  def create
    @search = Search.create(search_params)
    redirect_to @search
  end

  def show
    @search = Search.find(params[:id])
  end
end
