<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

<%= form_tag searches_path, method: :get do %>
  <%= text_field_tag :username, params[:username] %>
  <%= select_tag :gender, options_for_select(@users.collect{ |u| [u.gender] }) %>
  <%= submit_tag "Search", name: nil %>
<% end %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate %>


